*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body{
  background-color: #041424;
}

.header{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-around;
  background-color: #52DD5F;
}

.logodiv{
  width: 140px;
  display: inline-flex;
  justify-content: space-between;
  vertical-align: middle;
  margin-top: 4px;
}

.header h1{
  color: #03031B;
  width: 40px;
  font-size: 25px;
  margin: 8px;
  font-family: 'Courier New', 'Arial Narrow', Arial, sans-serif;
  font-style: oblique;
}

.header #logo{
  color: #E6DEC8;
  font-size: 28px;
  font-style: italic;
}

.social-icons{
  margin-top: 18px;
  width: 310px;
  display: inline-flex;
  justify-content: space-around;
}

#github{
  width: 83px;
  display: inline-flex;
  justify-content: space-between;
}

#contato{
  width: 90px;
  display: inline-flex;
  justify-content: space-between;
}

#linkedin{
  width: 100px;
  display: inline-flex;
  justify-content: space-between;
}

#github p{
  color: #03031B;
  font-family: 'Courier New';
}

#linkedin p{
  color: #03031B;
  font-family: 'Courier New';
}

#contato p{
  color: #03031B;
  font-family: 'Courier New';
}