.projects-div{
  width: 400px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-direction: column;
}

.projects-ul li{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-items: center;
  justify-content: space-around;
}

#mostrar-1{
  color: #52DD5F;
  font-size: 15px;
}

#sumir-1{
  display: none;
}

#mostrar-2{
  color: #52DD5F;
  font-size: 15px;
}

#sumir-2{
  display: none;
}

#mostrar-3{
  color: #52DD5F;
  font-size: 15px;
}

#sumir-3{
  display: none;
}

#mostrar-4{
  color: #52DD5F;
  font-size: 15px;
}

#sumir-4{
  display: none;
}

#mostrar-5{
  color: #52DD5F;
  font-size: 15px;
}

#sumir-5{
  display: none;
}


.projects-ul li input{
  display: none;
}

.projects-ul li div{
  width: 100%;
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  justify-items: center;
  justify-content: space-around;
}

label[for="project-1"]{
  font-size: 15px;
  padding: 5px;
  transition: all 1s;
  cursor: pointer;
}

label[for="project-2"]{
  font-size: 15px;
  padding: 5px;
  transition: all 1s;
  cursor: pointer;
}

label[for="project-3"]{
  font-size: 15px;
  padding: 5px;
  transition: all 1s;
  cursor: pointer;
}

label[for="project-4"]{
  font-size: 15px;
  padding: 5px;
  transition: all 1s;
  cursor: pointer;
}

label[for="project-5"]{
  font-size: 15px;
  padding: 5px;
  transition: all 1s;
  cursor: pointer;
}

.projects-ul img{
  margin: 10px;
  width: 200px;
  border-style: double;
  border-color: #52DD5F;
}

#project-1:checked ~
.project-1-info{
  display: flex;
  color: #03031B;
}

#project-2:checked ~
.project-2-info{
  display: flex;
  color: #03031B;
}

#project-3:checked ~
.project-3-info{
  display: flex;
  color: #03031B;
}

#project-4:checked ~
.project-4-info{
  display: flex;
  color: #03031B;
}

#project-5:checked ~
.project-5-info{
  display: flex;
  color: #03031B;
}
